<!-- meta tags -->
<meta charset="utf-8">
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="content">
  <div class="d-flex justify-content-center flex-row-reverse flex-wrap">
    <div class="card mb-2 shadow-sm" style="min-width: 15rem; max-width: 15rem;" id="familyID" matTooltip="יש לבחור את זיהוי המשפחה שלך" [matTooltipShowDelay]=1000>
      <div class="card-header">
        <mat-icon>group</mat-icon>
        <h4> בחר משפחה</h4>
      </div>
      <div class="card-body">
        <mat-form-field class="mat-form">
          <mat-label>מזהה משפחה</mat-label>
          <mat-select (selectionChange)="familyChanged($event.value)" [(value)]="selectedFamily">
            <mat-option *ngFor="let family of families" [value]="family">
              {{family}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="card mb-2 shadow-sm" style="min-width: 15rem; max-width: 15rem;" id="Market" matTooltip="יש לבחור את רשת הסופר שתתאים לקבלות שיבחרו"
      [matTooltipShowDelay]=1000>
      <div class="card-header">
        <mat-icon>shopping_cart</mat-icon>
        <h4>בחר סופר</h4>
      </div>
      <div class="card-body">
        <mat-form-field class="mat-form">
          <mat-label>שם הסופר</mat-label>
          <mat-select [disabled]="marketDis" (selectionChange)="marketChanged($event.value)" [(value)]="selectedMarket">
            <mat-option *ngFor="let market of markets" [value]="market">
              {{market}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="card mb-2 shadow-sm" id="Browse" style="min-width: 15rem; max-width: 15rem;" matTooltip="יש לבחור את כל התמונות שמתאימות לסופר הנבחר"
      [matTooltipShowDelay]=1000>
      <div class="card-header">
        <mat-icon>cloud_upload</mat-icon>
        <h4>בחר תמונות</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <input [(ngModel)]="selectInput" [disabled]="uploadDis" type="file" id="file" multiple="multiple"
            (change)="handleFileInput($event.target.files)"><br>
          <button [disabled]="uploadBtnDis" mat-raised-button type="button" (click)="uploadFiles()">העלאה</button>
          <mat-progress-bar *ngIf="uploading" mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
