<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="table-responsive">
    <div class="d-flex justify-content-between">
        <div class="upload_time_and_market">
            <mat-icon inline=true>shopping_cart</mat-icon>
            רשת {{currHebMarket}} &nbsp;
            <mat-icon inline=true>access_time</mat-icon>
            תאריך העלאה: {{this.uploadTime | date:'shortDate'}}
        </div>
        <button [hidden]="!this.admin" mat-icon-button (click)="returnToAccept()"
            matTooltip="קבלה זו תחזור לקבלות שטרם אושרו" [matTooltipShowDelay]=500>
            <mat-icon>build</mat-icon>
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>מק"ט</th>
                <th>שם מוצר</th>
                <th>כמות (ק"ג/ליטר)</th>
                <th>נוטריאנטים</th>
                <th>מחיר</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of currTableData; let i = index ">
                <td>{{row.sID}}</td>
                <td>{{row.description}}</td>
                <td>{{row.quantity}}</td>
                <td>
                    <button mat-icon-button (click)="loadNutriantsModal(row)" matTooltip="צפיה בנוטריאנטים"
                        [matTooltipShowDelay]=500>
                        <mat-icon>fastfood</mat-icon>
                    </button>
                </td>
                <td>{{row.price}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id=button_scroll_to_top>
    <button id="fixedBtn" (click)="exportToCSV()" mat-icon-button matTooltip="יצוא נתונים לקובץ"
        matTooltipPosition="right" matTooltipShowDelay=500>
        <mat-icon>cloud_download</mat-icon>
    </button>
</div>