* {
    direction: rtl;
}

.upload_time{
    text-align: right;
    font-size: 15px;
}

p{
    text-align: center;
    font-size: 15px;
}

th,
td {
    font-size: 15px;
    text-align: right;
    align-content: right;
}

#fixedBtn {
    position: fixed;
    bottom: 2%;
    right: 1%;
    background-color: white;
}

#fixedBtn:hover {
    background-color: #ebebeb;
}

.saved {
    background-color: #cfffc0;
}

.notSaved {
    background-color: rgb(231, 170, 170)
}

.dropdown {
    text-align: right;
    margin-bottom: -10px;
}

.dropdown-value {
    text-align: right;
}