<mat-dialog-content>
    <mat-card-content class="cards">
        <mat-card-header>
            <div>
                <mat-card-title>{{data.ProductName}}</mat-card-title>
            </div>
            <!-- <div>
                <mat-card-subtitle>מקמו את העכבר על הנוטריאט בכדי לראות את שמו</mat-card-subtitle>
            </div> -->
        </mat-card-header>
        <hr>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">נוטריאנט</th>
                        <th scope="col">ערך</th>
                        <th scope="col">שם מקור</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let row of nutrientsToShow" [matTooltip]="this.nutEnum[row.code]"> -->
                    <tr *ngFor="let row of nutrientsToShow">
                        <td> {{row.code}}</td>
                        <td> {{row.value | number}}</td>
                        <td> {{this.nutEnum[row.code]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-dialog-content>