.card-header {
  text-align: center;
}

.card-body {
  align-content: center
}

.card {
  margin: 15px;
}

.content{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../../assets/background.jpg);
}

.mat-form {
  text-align: center;
}