<div class="d-flex justify-content-center flex-row-reverse">
    <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
            <p>...אנא המתן</p>
    </div>
    <div *ngIf="!isLoading" class="card mb-4 shadow-sm" id="familyID" matTooltip="משפחות שהעלו קבלות" [matTooltipShowDelay]=1000>
        <div class="card-header">
            <mat-icon [(matBadge)]="amountOfRec" matBadgeOverlap="true" matBadgeColor="primary" matBadgeSize="medium">
                group
            </mat-icon>
        </div>
        <div class="card-body">
            <mat-form-field class="mat-form">
                <mat-label>מזהה משפחה</mat-label>
                <mat-select (selectionChange)="familyChanged($event.value)" [(value)]="selectedFamily">
                    <mat-option *ngFor="let family of families;let i = index" [value]="i">
                        {{family}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="card mb-4 shadow-sm" id="page">
    <mat-paginator [length]="amountOfRec" [pageSize]=1 (page)="pageChange($event)"
        matTooltip="מעבר בין קבלות" [matTooltipShowDelay]=1000>
    </mat-paginator>
    <div class='flex-container' [hidden]='selectedFamily === ""'>
        <app-view-table #table></app-view-table>
    </div>
</div>